<html lang="en">
    <head>
    </head>
    <body>
          <p>View top scores, use the drop down to specify which scores you'd like to see</p>      
      <table>
        <tr>
          <th>Place</th>
          <th>User</th>
          <th>Score</th>
        </tr>
        <tr>
          <td>1</td>  
          <td>Call User Here</td>
          <td>Place Scores Here</td>
        </tr>
        <tr>
          <td>2</td> 
          <td>Call User Here</td>
          <td>Place Scores Here</td>
        </tr>
        <tr>
          <td>3</td> 
          <td>Call User Here</td>
          <td>Place Scores Here</td>
        </tr>
        <tr>
          <td>4</td> 
          <td>Call User Here</td>
          <td>Place Scores Here</td>
        </tr>
        <tr>
          <td>5</td> 
          <td>Call User Here</td>
          <td>Place Scores Here</td>
        </tr>
        <tr>
          <td>6</td> 
          <td>Call User Here</td>
          <td>Place Scores Here</td>
        </tr>
        <tr>
          <td>7</td> 
          <td>Call User Here</td>
          <td>Place Scores Here</td>
        </tr>
        <tr>
          <td>8</td> 
          <td>Call User Here</td>
          <td>Place Scores Here</td>
        </tr>
        <tr>
          <td>9</td> 
          <td>Call User Here</td>
          <td>Place Scores Here</td>
        </tr>
        <tr>
          <td>10</td> 
          <td>Call User Here</td>
          <td>Place Scores Here</td>
        </tr>
      </table>
    
    </body>
    </html>