	<link rel="stylesheet" href="assets/css/my-bootstrap-div.css">
	<body>
	<div class="my-bootstrap-div">
	<div class="container-fluid">
	<img class="background" src="assets/images/cityBG.png">
	<video class="background">video format not support</video>	
	<div class="row">
		<div class="col-xs-6">
            <img class="rearView img-responsive center-block" src="assets/images/rearViewSmall.png">
			<div class="speech center-block">
				<img class="speechBubble" src="assets/images/speechBubbleTrim.png">
				<p class="speechText">
				</p>
			</div>
        </div>
		<div class="pull-right col-xs-6">
				<div class="mapContainer pull-right myDynamic">
					<img class="map" src="assets/images/map.png">
					<span class="mapTimer">15:30</span>
					<span class="mapDestination">Way Downtown</span>
				</div>
				<div class="fareContainer pull-right myDynamic">
					<span class="strike1 strikes">X</span>
					<span class="strike2 strikes">X</span>
					<span class="strike3 strikes">X</span>
					<span class="moneyAmount">$10000.00</span>
					<img class="fareCounter" src="assets/images/fareCounterSmall.png">
				</div>
		</div>
	</div>
	<div class="row">
		<div class="text panel question-panel myBlock">
            <p>
                <span class="questionTitleText">Current Question :</span>
				<span class="questionText">\nA question...?</span>
            </p>
        </div>
	</div>
	<div class="row">
		<div class="answerText text panel answer-panel myBlock">
                <div class="funkyradio funkyradio funkyradio-default">
                    <input type="radio" name="radio" id="radio1" />
                    <label for="radio1">First Answer</label>
                </div>
                <div class="funkyradio funkyradio-primary">
                    <input type="radio" name="radio" id="radio2" />
                    <label for="radio2">Second Answer</label>
                </div>
                <div class="funkyradio funkyradio-success">
                    <input type="radio" name="radio" id="radio3" />
                    <label for="radio3">Third Answer</label>
                </div>
                <div class="funkyradio funkyradio-danger">
                    <input type="radio" name="radio" id="radio4" />
                    <label for="radio4">Fourth Answer</label>
                </div>
        </div>
	</div>
	<div class="row">
		<div class="turnText text panel player-panel myBlock">
            Player A's turn
        </div>
	</div>
	</div>
	</div>
	</body>