/*
relative position of things inside their respective containers:
when we change screen size, the containers are what move and scale/stretch,
but the elements in them stay relatively positioned inside the container
the same way.
*/

body {
	background-image: none;
}

.myDynamic {
    
}

.text {
	font-size: 200%;
}

.questionTitleText {
	margin-left: 10%;
	color: blue;
}

.questionText {
	color: yellow;
}

.answerText {
	color: black;
}

.turnText {
	text-align: center;
}

.background {
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
}

.rearView {
}

.speech {
	position: sticky;
	top: 0;
	opacity: 0.75;
	height: 200px;
	z-index: 2;
}

.speechBubble {
	width: 100%;
	height:100%;
}

.fareContainer {
	position: relative;
	display: block;
	width: 325px;
	height: 230px;
}

.fareCounter {
	/*center in parent*/
    /*center in parent*/
	position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.moneyAmount {
    color: lightgreen;
    font-family: 'Orbitron';    
    font-size: 450%;
    text-align: right;
    font-stretch: ultra-expanded;

    position: absolute;
    z-index: 3;    
    right: 18%;
    bottom: 15%;
}

.strikes {
    color: red;
    font-family: 'Orbitron';    
    font-size: 375%;
	font-weight: bold;

    position: absolute;
    z-index: 3;    
    top: 10%;
}

.strike3 {
    right: 26%;
}

.strike2 {
    right: 44%;
}

.strike1 {
    right: 61%;
}

.mapContainer {
	position: relative;
	display: block;
	width: 325px;
	height: 225px;
}

.map {
	position: absolute;
	top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.mapDestination {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: lightskyblue;
    text-outline: 10px, 10px, black;
    font-size: 200%;
	background-color: rgba(50, 50, 0, 0.7);
	border-radius: 6px;
    text-align: center;
    
    position: absolute; 
    z-index: 2;   

    /*center in parent*/
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.mapTimer {
    color: rgb(93, 231, 93);
    background-color: rgba(0, 0, 0, 0.7);
	border-radius: 6px;
    font-family: 'Orbitron';
    font-size: 250%;
    text-align: center;
	width: 100px;

    position: absolute;
    z-index: 3;    
    top: 12%;  
    left: 50%;
    transform: translateX(-50%);
}

.panel {

}

.question-panel {

}

.answer-panel {
	background-color: transparent;
}

.funkyradio label {
	background-color: white;
	margin: 0px;
}

.player-panel {
    
}

.funkyradio div {
            clear: both;
            overflow: hidden;
}

.funkyradio label {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #D1D3D4;
	font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
	display: none;
}

.funkyradio input[type="radio"]:empty~label,
.funkyradio input[type="checkbox"]:empty~label {
	position: relative;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.funkyradio input[type="radio"]:empty~label:before,
.funkyradio input[type="checkbox"]:empty~label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label,
.funkyradio input[type="checkbox"]:hover:not(:checked)~label {
	color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked)~label:before {
	content: '\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked~label,
.funkyradio input[type="checkbox"]:checked~label {
	color: #777;
}

.funkyradio input[type="radio"]:checked~label:before,
.funkyradio input[type="checkbox"]:checked~label:before {
	content: '\2714';
	text-indent: .9em;
	color: #333;
	background-color: #ccc;
}

.funkyradio input[type="radio"]:focus~label:before,
.funkyradio input[type="checkbox"]:focus~label:before {
	box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked~label:before,
.funkyradio-default input[type="checkbox"]:checked~label:before {
	color: #333;
	background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked~label:before,
.funkyradio-primary input[type="checkbox"]:checked~label:before {
	color: #fff;
	background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked~label:before,
.funkyradio-success input[type="checkbox"]:checked~label:before {
	color: #fff;
	background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked~label:before,
.funkyradio-danger input[type="checkbox"]:checked~label:before {
	color: #fff;
	background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked~label:before,
.funkyradio-warning input[type="checkbox"]:checked~label:before {
	color: #fff;
	background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked~label:before,
.funkyradio-info input[type="checkbox"]:checked~label:before {
	color: #fff;
	background-color: #5bc0de;
}