	<label>Role: <input [(ngModel)]="globals.role"></label>

	<h4 style="font-weight: normal;"> Welcome to Crazy Cash Taxi (Silber Edition)! In this game, test your knowledge, trying to earn as much money as possible in the time limit.</h4>
  <hr/>
  <h4>Need to practice?</h4>
  <ul>
    <li>View question counts for each knowledge category on "Categories" page</li>
    <li>Test your knowledge on the "Questions" page</li>
    <li>Change difficuly and categories at a click of a button</li>
    <li>See how your score compares to the questions answered</li>
  </ul>  
  <hr/>
  <h4>Ready to play?</h4>
  <ul>
    <li>Visit the "Login" page to register or sign in</li>
    <li>Go to the "Game" page and select your game mode</li>
    <li>Take a high-speed tour with Silber by yourself or with others</li>
    <li>Get 3 questions wrong in a row, and you get kicked to the curb!</li>
	<li>Go double-or-nothing on a final crowd-sourced question!</li>
  </ul>
  <hr/>
  <h4>Rewards</h4>
  <ul>
	<li>Earn the right to submit a question by winning a game!</li>
    <li>Compete with your friends to be Silber's best student! ("Scoreboard" page)</li>
    <li>Redeem CCT cash at your local DoesntExistMart.</li>
  </ul>
  <h4>Credits / Resources Used</h4>
  <ul>
	<li>OpenTDB for providing question data</li>
    <li>Professor Silber</li>
    <li>Youtubers and Google for images/videos (no credit taken by us)</li>
  </ul>
  