

<div style="text-align:center">
  <p>Choose your category and difficulty with the drop down bars</p>
  <p>Click begin when you're ready</p>
  
  
  <select id="difficultyDrop" class="button"[(ngModel)]='difficulty'>
    <option value="">Any</option>
    <option value="easy">Easy</option>
    <option value="medium">Medium</option>
    <option value="hard">Hard</option>
  </select>

  <select id="catDrop" class="button" [(ngModel)]='category'>
    <option value='0'>Any</option>
    <option value='9'>General Knowledge</option>
    <option value='10'>Entertainment: Books</option>
    <option value='11'>Entertainment: Film</option>
    <option value='12'>Entertainment: Music</option>
    <option value='13'>Entertainment: Musicals & Theatres</option>
    <option value='14'>Entertainment: Television</option>
    <option value='15'>Entertainment: Video Games</option>
    <option value='16'>Entertainment: Board Games</option>
    <option value='31'>Entertainment: Japanese Anime & Manga</option>
    <option value='32'>Entertainment: Cartoon & Animations</option>
    <option value='29'>Entertainment: Comics</option>
    <option value='17'>Science & Nature</option>
    <option value='18'>Science: Computers</option>
    <option value='19'>Science: Mathematics</option>
    <option value='30'>Science: Gadgets</option>
    <option value='20'>Mythology</option>
    <option value='21'>Sports</option>
    <option value='22'>Geography</option>
    <option value='23'>History</option>
    <option value='24'>Politics</option>
    <option value='25'>Art</option>
    <option value='26'>Celebrities</option>
    <option value='27'>Animals</option>
    <option value='28'>Vehicles</option>
  </select>
  <select id="totalQuestionDrop" class="button" [(ngModel)]='totalquestions'>
    <option value='10'>10 Questions</option>
    <option value='15'>15 Questions</option>
    <option value='20'>20 Questions</option>
    <option value='25'>25 Questions</option>
    <option value='30'>30 Questions</option>
  </select>
    <br>
    <br>
    <button class="button-3 button1" id = "startGame" 
    (click)="onTestGet(); startTimer(); move(); clearPreviousData();">Begin Game</button>
    <br>


    
    <div id = "game" class = "playgame">
        <div class="w3-container">
            <div class="w3-light-grey">
              <div id="myBar" class="w3-container w3-green" style="height:24px;width:0%">
              </div>
            </div>
            <p id="myP"> <span id="demo">{{timer}}</span> seconds</p>
        

        <br>
        <div style="font-weight: bold;">Question :</div>
        <div [innerHTML]="getQuestion"></div>
        <br>
        <button class="button" (click)="onAnswerclick('1')"> <div [innerHTML]="Spot1"></div> </button><br>
        <button class="button" (click)="onAnswerclick('2')"> <div [innerHTML]="Spot2"></div> </button><br>
        <button class="button" (click)="onAnswerclick('3')"> <div [innerHTML]="Spot3"></div> </button><br>
        <button class="button" (click)="onAnswerclick('4')"> <div [innerHTML]="Spot4"></div>  </button>
        <br>
        <br>    
        <div style="font-style:italic;" [innerHTML]="showAnswer"></div>
        <div style="text-align: center; margin-right: 50%;"> <!-- to get right alignment with centering outside -->
            <p style="text-align: right;">Questions Completed: <span style="font-weight: bold;">{{questionsCompleted}}</span></p>
            <p style="text-align: right;">Score: <span style="font-weight: bold;">{{Score}}</span></p>
        </div>
        <br>
        <br>
    </div>
    
        



<!--
<div id="snackbar">Chosen Difficulty: {{difficulty}}</div>
<button class="button-2 button2" (click)="setDifficulty('')" (click)="alertPop()" onclick="myFunction()"> Any difficulty </button>
<button class="button-2 button2" (click)="setDifficulty('easy')" (click)="alertPop()"> Easy </button>
<button class="button-2 button2" (click)="setDifficulty('medium')" (click)="alertPop()"> Medium </button>
<button class="button-2 button2" (click)="setDifficulty('hard')" (click)="alertPop()"> Hard </button>
-->

<!--
<p></p>
<button class="button button2" (click)="setCategory(0)"> Any </button>
<button class="button button2" (click)="setCategory(9)"> General Knowledge </button>
<button class="button button2" (click)="setCategory(10)"> Entertainment: Books </button>
<button class="button button2" (click)="setCategory(11)"> Entertainment: Film </button>
<button class="button button2" (click)="setCategory(12)"> Entertainment: Music </button>
<button class="button button2" (click)="setCategory(13)"> Entertainment: Musicals & Theatres </button>
<button class="button button2" (click)="setCategory(14)"> Entertainment: Television </button>
<button class="button button2" (click)="setCategory(15)"> Entertainment: Video Games </button>
<button class="button button2" (click)="setCategory(16)"> Entertainment: Board Games </button>
<button class="button button2" (click)="setCategory(17)"> Science & Nature </button>
<button class="button button2" (click)="setCategory(18)"> Science: Computers </button>
<button class="button button2" (click)="setCategory(19)"> Science: Mathematics </button>
<button class="button button2" (click)="setCategory(20)"> Mythology </button>
<button class="button button2" (click)="setCategory(21)"> Sports </button>
<button class="button button2" (click)="setCategory(22)"> Geography </button>
<button class="button button2" (click)="setCategory(23)"> History </button>
<button class="button button2" (click)="setCategory(24)"> Politics </button>
<button class="button button2" (click)="setCategory(25)"> Art </button>
<button class="button button2" (click)="setCategory(26)"> Celebrities </button>
<button class="button button2" (click)="setCategory(27)"> Animals </button>
<button class="button button2" (click)="setCategory(28)"> Vehicles </button>
<button class="button button2" (click)="setCategory(29)"> Entertainment: Comics </button>
<button class="button button2" (click)="setCategory(30)"> Science: Gadgets </button>
<button class="button button2" (click)="setCategory(31)"> Entertainment: Japanese Anime & Manga </button>
<button class="button button2" (click)="setCategory(32)"> Entertainment: Cartoon & Animations </button>
<p></p>
-->
</div>




    
