

<div style="text-align:center">
  <p>Choose your category and difficulty with the drop down bars</p>
  <p>Click begin when you're ready</p>
  
  
  <select id="difficultyDrop" class="button"[(ngModel)]='difficulty'>
    <option value="">Any</option>
    <option value="easy">Easy</option>
    <option value="medium">Medium</option>
    <option value="hard">Hard</option>
  </select>

  <select id="catDrop" class="button" [(ngModel)]='category'>
    <option value='0'>Any</option>
    <option value='9'>General Knowledge</option>
    <option value='10'>Entertainment: Books</option>
    <option value='11'>Entertainment: Film</option>
    <option value='12'>Entertainment: Music</option>
    <option value='13'>Entertainment: Musicals & Theatres</option>
    <option value='14'>Entertainment: Television</option>
    <option value='15'>Entertainment: Video Games</option>
    <option value='16'>Entertainment: Board Games</option>
    <option value='31'>Entertainment: Japanese Anime & Manga</option>
    <option value='32'>Entertainment: Cartoon & Animations</option>
    <option value='29'>Entertainment: Comics</option>
    <option value='17'>Science & Nature</option>
    <option value='18'>Science: Computers</option>
    <option value='19'>Science: Mathematics</option>
    <option value='30'>Science: Gadgets</option>
    <option value='20'>Mythology</option>
    <option value='21'>Sports</option>
    <option value='22'>Geography</option>
    <option value='23'>History</option>
    <option value='24'>Politics</option>
    <option value='25'>Art</option>
    <option value='26'>Celebrities</option>
    <option value='27'>Animals</option>
    <option value='28'>Vehicles</option>
  </select>
  <select id="totalQuestionDrop" class="button" [(ngModel)]='totalquestions'>
    <option value='10'>10 Questions</option>
    <option value='15'>15 Questions</option>
    <option value='20'>20 Questions</option>
    <option value='25'>25 Questions</option>
    <option value='30'>30 Questions</option>
  </select>
    <br>
    <br>
    <button class="button-3 button1" id = "startGame" 
    (click)="onTestGet(); startTimer(); clearPreviousData();">Begin Game</button>
    <br>


    
    <div id = "game" class = "playgame">
        <div class="w3-green w3-hover-shadow w3-padding-64 w3-center">
      <p>{{timer}} Seconds</p>
    </div>
        <br>
        <div style="font-weight: bold;">Question :</div>
        <div class="card" [innerHTML]="getQuestion"></div>
        <br>
        <button class="button w3-hover-shadow" (click)="onAnswerclick('1')"> <div [innerHTML]="Spot1"></div> </button><br>
        <button class="button w3-hover-shadow" (click)="onAnswerclick('2')"> <div [innerHTML]="Spot2"></div> </button><br>
        <button class="button w3-hover-shadow" (click)="onAnswerclick('3')"> <div [innerHTML]="Spot3"></div> </button><br>
        <button class="button w3-hover-shadow" (click)="onAnswerclick('4')"> <div [innerHTML]="Spot4"></div>  </button>
        <br>
        <br>    
        <div style="font-style:italic;" [innerHTML]="showAnswer"></div>
        <div style="text-align: center; margin-right: 50%;"> <!-- to get right alignment with centering outside -->
            <p style="text-align: right;">Questions Completed: <span style="font-weight: bold;">{{questionsCompleted}}</span></p>
            <p style="text-align: right;">Score: <span style="font-weight: bold;">{{Score}}</span></p>
        </div>
        <br>
        <br>
    </div>
</div>




    
