<html lang="en">
    <head>
        <style>
            #scores {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            
            #scores td, #scores th {
                border: 1px solid #ddd;
                padding: 8px;
            }
            
            #scores tr:nth-child(even){background-color: #f2f2f2;}
            
            #scores tr:hover {background-color: #ddd;}
            
            #scores th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
            </style>
    </head>
    <body>
          <p align="center">View top scores, use the drop down to specify which scores you'd like to see</p>  
          <select id="difficultyDrop" (change)="setDifficulty($event.target)">
              <option value="Any">Any</option>
              <option value="Easy">Easy</option>
              <option value="Medium">Medium</option>
              <option value="Hard">Hard</option>
            </select>
            <select id="catDrop" (change)="setCat($event.target)">
              <option value='Any'>Any</option>
              <option value='General Knowledge'>General Knowledge</option>
              <option value='Books'>Entertainment: Books</option>
              <option value='Film'>Entertainment: Film</option>
              <option value='Music'>Entertainment: Music</option>
              <option value='Musicals & Theatres'>Entertainment: Musicals & Theatres</option>
              <option value='Television'>Entertainment: Television</option>
              <option value='Video Games'>Entertainment: Video Games</option>
              <option value='Board Games'>Entertainment: Board Games</option>
              <option value='Japanese Anime & Manga'>Entertainment: Japanese Anime & Manga</option>
              <option value='Cartoon & Animations'>Entertainment: Cartoon & Animations</option>
              <option value='Comics'>Entertainment: Comics</option>
              <option value='Science & Nature'>Science & Nature</option>
              <option value='Computers'>Science: Computers</option>
              <option value='Mathematics'>Science: Mathematics</option>
              <option value='Gadgets'>Science: Gadgets</option>
              <option value='Mythology'>Mythology</option>
              <option value='Sports'>Sports</option>
              <option value='Geography'>Geography</option>
              <option value='History'>History</option>
              <option value='Politics'>Politics</option>
              <option value='Art'>Art</option>
              <option value='Celebrities'>Celebrities</option>
              <option value='Animals'>Animals</option>
              <option value='Vehicles'>Vehicles</option>
            </select>
            <select id="totalQuestionDrop" (change)="setQuestions($event.target)">
              <option value='10'>10 Questions</option>
              <option value='15'>15 Questions</option>
              <option value='20'>20 Questions</option>
              <option value='25'>25 Questions</option>
              <option value='30'>30 Questions</option>
            </select>
          
          <table id="scores">
        <tr>
          <th>Place</th>
          <th>User</th>
          <th>Score</th>
        </tr>
        <tr>
          <td>1</td>  
          <td>{{userarray[0]}}</td>
          <td>{{scorearray[0]}}</td>
        </tr>
        <tr>
          <td>2</td> 
          <td>{{userarray[1]}}</td>
          <td>{{scorearray[1]}}</td>
        </tr>
        <tr>
          <td>3</td> 
          <td>{{userarray[2]}}</td>
          <td>{{scorearray[2]}}</td>
        </tr>
        <tr>
          <td>4</td> 
          <td>{{userarray[3]}}</td>
          <td>{{scorearray[3]}}</td>
        </tr>
        <tr>
          <td>5</td> 
          <td>{{userarray[4]}}</td>
          <td>{{scorearray[4]}}</td>
        </tr>
        <tr>
          <td>6</td> 
          <td>{{userarray[5]}}</td>
          <td>{{scorearray[5]}}</td>
        </tr>
        <tr>
          <td>7</td> 
          <td>{{userarray[6]}}</td>
          <td>{{scorearray[6]}}</td>
        </tr>
        <tr>
          <td>8</td> 
          <td>{{userarray[7]}}</td>
          <td>{{scorearray[7]}}</td>
        </tr>
        <tr>
          <td>9</td> 
          <td>{{userarray[8]}}</td>
          <td>{{scorearray[8]}}</td>
        </tr>
        <tr>
          <td>10</td> 
          <td>{{userarray[9]}}</td>
          <td>{{scorearray[9]}}</td>
        </tr>
      </table>
    
    </body>
    </html>